label {
float: left;
width: 120px;
font-weight: bold;
}

input, textarea {
width: 180px;
margin-bottom: 5px;
}

textarea {
width: 250px;
height: 150px;
}

.boxes {
width: 1em;
}

#submitbutton {
margin-left: 120px;
margin-top: 5px;
width: 90px;
}

br {
clear: left;
}

/* lift errors */
.edit_error_class {
  display: block;
  color: red;
}

/* lift sidebar */
.sidebar ul {
	margin:0;
	padding:0;
	border-bottom:1px solid #ccc;
}
	 
.sidebar ul li {
	margin:0;
	padding:0;
	list-style:none;
	border:1px solid #ccc;
	border-bottom:none;
}

.sidebar ul li a {
	display:block;
	padding:3px;
	text-indent:30px;
	text-decoration:none;
}

.sidebar ul li span {
	display:block;
	padding:3px;
	text-indent:30px;
	text-decoration:none;
}

.sidebar ul li a:hover {
	background-color: #eee;
}